body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.navbar-nav{
   
  display: flex;
  justify-content: space-around;
}
.bellow-header{
   display: grid;
   grid-template-columns: 11rem auto 11rem;
   margin: 0.6rem;
   gap: 2.2rem;  
}
.hote-line{
   height: 100%;
   background: rgb(34, 27, 54) ;
   min-height: 8rem;
   display: flex;
   align-items: center;
   justify-content: center;
  
}

.hote-line h2{
   position: relative;
  
   font-size: 2em;
   letter-spacing: 2px;
   color: rgb(53, 25, 78);
   text-transform: uppercase;
   width: 100%;
   
   text-align: center;
   -webkit-box-reflect: below 2px linear-gradient(transparent, #0008);
   line-height: 0.90em;
   outline: none;
   animation: animate 5s linear infinite;
}
@keyframes animate{
   0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%{
      color: aqua;
      text-shadow: none;
   }
   18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%{
      color: #fff;
      text-shadow: 0 0 10px #03bcf4,
      0 0 20px #03bcf4,
      0 0 40px #03bcf4,
      0 0 80px #03bcf4,
      0 0 160px #03bcf4;
   }
}






/* .hote-line h2{
   position: relative;
   font-size: 10vh;
   text-align: center;
   color: rgb(39, 33, 55);
   -webkit-text-stroke: 0.3vw rgb(39, 33, 55);
   text-transform: uppercase;
}
.hote-line h2::before{
   content: attr(data-text);
   position:absolute;
   
   top: 0;
   left: 16.5%;
   width: 70%;
   height:100%;
   color: rgb(83, 237, 101);
   -webkit-text-stroke: 0vw rgb(72, 65, 90);
   border-right: 2px solid rgb(83, 237, 101);
   overflow: hidden;
   animation: animate 6s linear infinite;
}  
@keyframes animate{
   0%{
      width: 0;
   }
   10%{
      width: 6.6%;
   }
   20%{
      width: 13%;
   }
   30%{
      width: 19.8%;
   }
   40%{
      width: 26.4%;
   }
   50%{
      width: 33%;
   }
   60%{
      width: 39.6%;
   }
   70%{
      width: 46.5%;
   }
   80%{
      width: 52.8%;
   }
   90%{
      width: 59.4%;
   }  
  100%{
      width:66%;
   }
} */

.box{
   
   height: 20rem;
   background-image: linear-gradient(lightblue, blue);
   display: flex;
   flex-direction: column;
   text-align: center;
   justify-content:end;
}

#main-area{
   display: block;
}

.hote-line{
   
   
   border: 2px solid yellow;
   margin-bottom: 20px;
}
.nav-bellow{
   position: relative;
   margin-top: 60px;
   border: 2px solid yellow;
}
.top-login{
   margin-left: 2px;
}
.top-form input{
   /* width: auto; */
}


/* login page design */
.submit-area{
   background-color: white ;
   
  
   margin-top: 30px;
   border-radius: 10px;
   padding: 40px;
   box-shadow: 5px 5px 10px gray;
}
.submit-area h1{
   margin-bottom: 80px;
}
.submit-area img{
   width: 100px;
   height: 80px;
}
#login-area{
   display: none;
}












footer{
   text-align: center;
   font-size: 0.7rem;
   color: gray;
}